html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgb(21,32,43);
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    a {
        color:rgb(68,138,255);
    }
    p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color:#EFEFEF;
    }

    h1 {
        font-size: 28px;
        color:#FFF;
        a {
            color: #FFF;
        }
    }
}
