<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link
            rel="stylesheet"
            href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css"
        />
        <link
            rel="apple-touch-icon"
            href="/assets/icons/apple-touch-icon.png"
        />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>

        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyCQr86ygPVDiR1hPeWfWJ0oBJyC1UAjUWc",
                authDomain: "flare-tools.firebaseapp.com",
                databaseURL: "https://flare-tools.firebaseio.com",
                projectId: "flare-tools",
                storageBucket: "flare-tools.appspot.com",
                messagingSenderId: "390623806029",
                appId: "1:390623806029:web:1bab25cefdc357cae09204",
                measurementId: "G-VZ9ZL14TW4"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
        <script
            type="application/javascript"
            src="/assets/ripple-latest-min.js"
        ></script>
    </body>
</html>
